.description-box {
  margin: 120px 170px;
}
.navigator {
  display: flex;
}
.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  font-size: 17px;
  font-weight: 600;
  height: 70px;
  border: 1px solid #d0d0d0;
}
.nav-box.fade {
  background: #fbfbfb;
  color: #555;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding-bottom: 40px;
}
