.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.related-products h1 {
  font-size: 50px;
  font-weight: 600;
  color: #171717;
  cursor: pointer;
}
.related-products hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: black;
  color: #252552;
  transition: 2s;
}
.related-products h1:hover + hr {
  width: 500px;
}
.related-products-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
